body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-right {
    text-align: right;
}

.text-right button {
    margin-bottom: 16px;
}

.text-left {
    text-align: left;
}

.container .btn-info {
    color: #ffffff;
}

table,
form {
    margin-top: 16px;
}

.nav-pills {
    margin: 40px 0;
}

.btn-success {
    margin-right: 4px;
}

.App>.container {
    margin-top: 16px;
}

form button {
    width: 50%;
    margin-bottom: 32px;
}

.text-right a {
    margin-right: 4px;
    display: inline-block;
}

.text-right button {
    margin-left: 8px;
}

.borrowed-check {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.prestamo-link {
    margin-top: 8px;
    text-align: right;
    display: inline-block;
    width: 100%;
}

.card * {
    text-align: left;
}

.card h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-text {
    display: grid;
    display: -ms-grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
}

.card-text .col-title {
    grid-column: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    font-weight: bold;
}

.card-text .col-desc {
    grid-column: 2;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.only-library {
    text-align: right;
    color: red;
    font-size: 12px;
}

.action-td {
    width: 20%;
}

.filters-container {
    flex-wrap: wrap;
    margin: 0 8px 16px;
}

.filters-container input:not(.btn) {
    background: transparent;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid rgb(206, 212, 218);
}

.filters-container form {
    margin: 0;
}

.outdated-info {
    display: flex;
    justify-content: space-between;
    background: #efefef;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 16px 0;
}
.filters-container {
    display: flex;
    justify-content: space-between;
    
}
.flex-filter-container {
    display: flex;
    align-items: center;
    width: 80%;
}

.list-group-container {
    max-width: 400px;
    margin: 24px auto;
}

.file-btn-container {
    display: flex;
    margin-top: 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #efefef;
    padding: 8px;
    max-width: 400px !important;
    margin-right: 0 !important;
}

.file-btn-container h6 {
    width: 100%;
    text-align: left;
}

.file-btn-container input {
    width: 50%;
    margin-right: 16px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    background-color: transparent !important;
}

.file-btn-container button {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.not-returned {
    background-color: #ff6ceb6e !important;
}

#data-table {
    display: none;
}

.error input,
.error select {
    border-color: #b71c1c;
}

.error .error-message {
    background: #ffcdd2;
    color: #b71c1c;
    margin-top: 4px;
    border-radius: .25rem;
}

.btns-container button {
    max-width: 180px;
    margin-left: 16px;
}

.btns-container {
    display: flex;
    justify-content: flex-end;
}

.alert {
    position: fixed !important;
    top: 8px;
    right: 8px;
}

.loading-content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
}

.nav-pills-container .nav {
    justify-content: center;
}
.header-pills {
    border-bottom: 1px solid #ececec;
    margin-bottom: 16px;
}
.nav-item .active {
    border-bottom:3px solid #ffc107;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}
#navbarToggleExternalContent.show {
    position: fixed;
    background: #323232;
    width: 200px;
    right: -12px;
    height: 100vh;
    top: 50px;
    z-index: 99;
    transition: ease-in-out 2s;
}
#navbarToggleExternalContent a, #navbarToggleExternalContent button {
    padding: 8px;
    width: 100%;
    text-align: left;
    display: flex;
    border-bottom: 1px solid #ececec;
    color: #ffffff;
}
#navbarToggleExternalContent.collapse {
    right: -320px;
}
#navbarToggleExternalContent button {
    text-align: left;
}
.ellipsis-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ellipsis-container svg {
    margin-right: 8px;
}
.book-container {
    display: grid;
    margin-bottom: 24px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 8px;
    width: 100%;
    grid-template-columns: 75px auto;
}
.book-container .thumbnail {
    grid-column: 1;
    grid-row: 1;
    width: 75px;
    border-radius: 5px;
}
.book-container .thumbnail img {
    width: 100%;
}
.book-container .article-details {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    padding-left: 8px;
}
.article-code {
    font-size: 12px;
}
.book-container .article-details p:not(.badge) {
    position: relative;
    margin: 0;
}
.book-container .article-details svg {
    position: absolute;
    right: 0;
}
.book-container .article-details .article-title {
    font-weight: bold;
}
.book-container .article-details .article-author {
    color: #898989;
    margin-bottom: 8px;
}
.badge { margin-right: 4px; 
    font-weight: 400 !important;
}
.rating-container {
    display: flex;
    justify-content: space-between;
}
span.tag-wrapper.ReactTags__tag {
    border-radius: 4px;
    display: inline-block;
    position: relative;
    border: 2px solid #ececec;
    padding: 4px 16px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: #ececec;
    color: #000000;
}
.ReactTags__tagInputField {
    margin-bottom: 4px;
    border-radius: 4px;
}
button.ReactTags__remove {
    position: absolute;
    appearance: none;
    background: transparent;
    border: transparent;
    margin: 0;
    width: 2px;
    height: 2px;
    right: 8px;
}
.react-tags-wrapper {
    margin: 16px auto;
}
a, .btn-link {
    text-decoration: none !important;
}
.close-panel {
    justify-content: flex-end;
    align-items: center;
}
.close-panel svg {
    margin-left: 4px;
}
.header-pills .nav-link, .nav-link:focus, .nav-link:hover {
    color: #323232 !important;
}