body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.container .btn-info {
  color: #ffffff;
}
table,
form {
  margin-top: 16px;
}
.nav-pills {
  margin: 40px 0;
}

.btn-success {
  margin-right: 4px;
}
.App > .container {
  margin-top: 16px;
}
form button {
  width: 50%;
  margin-bottom: 32px;
}
.text-right a {
  margin-right: 4px;
  display: inline-block;
}
.text-right button {
  margin-left: 8px;
}
.borrowed-check {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.prestamo-link {
  margin-top: 8px;
  text-align: right;
  display: inline-block;
  width: 100%;
}
.card * {
  text-align: left;
}
.card h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards-container {
  justify-content: space-between;
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
}
.card {
  width: 49%;
  margin: 8px 0;
}
.card-text {
  display: grid;
  display: -ms-grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
}
.card-text .col-title {
  grid-column: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  font-weight: bold;
}
.card-text .col-desc {
  grid-column: 2;
  grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}
.only-library {
  text-align: right;
  color: red;
  font-size: 12px;
}
.action-td {
  width: 20%;
}
.filters-container {
  flex-wrap: wrap;
  margin: 16px 0;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #efefef;
}
.filters-container input:not(.btn) {
  background: transparent;
  border-radius: 0;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: 1px solid rgb(206, 212, 218);
}
.filters-container form {
  margin: 0;
}
.filters-container form .btn {
  margin-left: 4px;
  max-width: 48%;
}
.outdated-info {
  display: flex;
  justify-content: space-between;
  background: #efefef;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 16px 0;
}
